*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--beauty-landing-2-background);
  color: var(--beauty-landing-2-c1);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 173%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}