.styled {
  color: var(--beauty-landing-2-s2);
}

.upper-styled {
  text-transform: capitalize;
}

.beauty-zone {
  font-weight: 600;
  text-transform: capitalize;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 95%;
  text-decoration: none;
}
