.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-style: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--beauty-landing-2-s5);
}

.form-terms-link {
  color: var(--beauty-landing-2-s5);
  text-underline-offset: 2px;
}