.procedure-card {
  position: relative;
  height: 456px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%,
  );
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__image {
    border-radius: 4px 120px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    color: var(--beauty-landing-2-background);
    text-align: center;
  }
}
