.choose-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  background-image: linear-gradient(
    var(--beauty-landing-2-s2),
    var(--beauty-landing-2-background)
  );
  margin-bottom: 96px;

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    margin-bottom: 48px;
  }

  &__reasons-list {
    display: flex;
    justify-content: center;
    gap: 56px;
  }
}
