.choose-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  margin-bottom: 96px;
  position: relative;

  &__wave {
    position: absolute;
    top: -250px;
    width: 100%;
    z-index: -1;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    margin-bottom: 48px;
  }

  &__reasons-list {
    display: flex;
    justify-content: center;
    gap: 56px;
  }
}
