.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;

  &::before {
    display: none;
    
    @media screen and (min-width: $bp-desktop) {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--beauty-landing-2-background);
      opacity: 0.5;
      z-index: -1;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    padding: 32px 0;

    @media screen and (max-width: $bp-tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-links,
  &__menu-icons {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__menu-links {
    gap: 56px;
  }

  &__menu-icons {
    gap: 32px;
  }

  &__item .link {
    font-weight: 400;
    font-size: 18px;
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--beauty-landing-2-background);

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
