.procedures-section {
  &__title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    margin-bottom: 48px;
  }

  &__slider {
    display: flex;
    gap: 32px;
    justify-content: center;
    
  }

  &__list {
    margin-bottom: 32px;
  }

  &__container {
    overflow: hidden;
    margin-bottom: 96px;
  }
}
