.transform-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 173%;
  margin-bottom: 104px;

  @media screen and (min-width: $bp-tablet) {
    text-align: center;
  }

  @media screen and (min-width: $bp-desktop) {
    text-align: start;
    font-size: 22px;
    margin-bottom: 176px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    &::after {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
        background: url(../images/small-star.png);
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        left: 1150px;
        bottom: 400px;

        @media screen and (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background: url(../images/small-star@2x.png);
        }
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: $bp-desktop) {
      gap: 20px;
    }
  }

  &__text,
  &__images {
    @media screen and (min-width: $bp-desktop) {
      flex-basis: calc((100% - 32px) / 2);
    }
  }

  &__images {
    position: relative;

    &::before {
      display: block;
      background: url(../images/large-star.png);
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      bottom: -30px;
      right: 22px;

      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url(../images/large-star@2x.png);
      }

      @media screen and (min-width: $bp-desktop) {
        width: 64px;
        height: 64px;
        bottom: 260px;
        left: 150px;
        right: 0;
      }
    }

    &::after {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
        background: url(../images/medium-star.png);
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        top: 50px;
        right: 50px;

        @media screen and (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background: url(../images/medium-star@2x.png);
        }
      }
    }
  }

  &__images::before,
  &__images::after,
  &__container::after {
    position: absolute;
    content: '';
  }

  &__images:hover::before,
  &__images:hover::after,
  &__container:hover::after {
    animation: scale 1s linear 0.2s 1 alternate none;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
      transform: rotate(180deg);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  &__before-procedure-img,
  &__after-procedure-img {
    border-radius: 180px;
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__after-procedure-img {
    margin-left: 172px;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.5;

    @media screen and (min-width: $bp-desktop) {
      font-weight: 700;
      font-size: 64px;
      line-height: 74px;
    }
  }
}
